/*grid index css*/
html, body {
  background-color: #000;
}

h1{
  color: white;
  padding-left: 30px;
  font-size: 60px;
}

h2{
  padding-left: 30px;
  color: white;
}
.center-wrapper {
  display: flex;
  justify-content: center;
}

.centered-button {
  text-align: center;
  padding: 30px 120px; 
  border-radius: 20px;
  font-size: 40px; 
  font-weight: 600; 
  color: white;
  background-color:  rgb(99, 116, 99);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .grid-item {
    border: 1px solid #000; 
    padding: 10px; 
    background-color: black;
    margin-top: 7%;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }
  
  .image-container h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    margin: 0;
  }

  .text-container {
    text-align: center;
    padding: 10px;
  }
  
  .text-container h3 {
    margin: 0;
    font-size: 18px;
    color: white;
  }

  /* index css */

  body{
    background-image: url('img/fondo.png');
    background-color:rgb(24, 22, 22);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    }

    nav ul li{
        display: inline-block;
        margin: 10px;
        padding-left: 120px;
        text-decoration: none;
    }
    nav ul li a{
        text-decoration: none;
        color:#fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 3px;
        font-size: 18px;
    }
    nav ul li a{
        padding-left: 70px;
    }

    nav ul li a:hover{
        color: #c3dbc4;
    }

    .logo{
        margin-left: 5%;
        size: 40%;
        cursor: pointer;
        width: 10%;
        height: auto;
    }

    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .seccion{
        height: 20vh;
        width:100%;
        font-size: 25px;
        text-align: right;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        margin: 0%;
    }

    .btn btn-primary btn-lg{
    --bs-btn-border-color: var(--bd-grey-bg)
    }

    .titulo{
      font-size: 200px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
    }

/* login css*/
 .loginbody {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: black;
    }

    .container {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center; 
        background-color: white;
    }

    .container h2 {
        text-align: center;
        margin-bottom: 20px; 
    }

    .container input[type="submit"],
    .container .google-signin-button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .container input[type="text"],
    .container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box; 
    }
     

     .logon{
         height: 255px;
     }
  

     /*cocktails css*/
     .search-container {
      margin-bottom: 20px;
    }
   
    .search-container input[type=text] {
      padding: 10px;
      width: 300px;
      font-size: 16px;
    }
   
    .search-container button {
      padding: 10px 20px;
      font-size: 16px;
    }
   
    .title {
      font-size: 48px;
    }

    /* opiniones*/
    h1 {
      text-align: center;
    }

    .opinion-box {
      max-width: 350px;
      margin: 0 auto;
      background-color: #333;
      padding: 40px;
      margin-bottom: 25px;
    }
    body{
    background-image: url('img/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    }
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #555;
      color: white;
      border: none;
      resize: vertical;
      height: 100px;
    }

    .rating {
      display: flex;
      justify-content: center;
    }

    .rating input[type="radio"] {
      display: none;
    }

    .rating label {
      color: white;
      font-size: 35px;
      cursor: pointer;
    }

    .rating label:before {
      content: '\2605';
    }

    .rating input[type="radio"]:checked ~ label:before {
      color: gold;
    }